---
layout: article.webc
pagination:
    data: articlesData
    size: 1
    alias: article
permalink: "{{article.properties.Slug.url | slugify }}/index.html"
---
<li>{{ article.properties.Slug.url }} 1</li>