body {
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    line-height: 1.2;
    margin-bottom: 0.5em;
    text-align: left;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    line-height: calc(1.5em + .2vw);
    color: #444;
    font-size: 16px;
    margin-bottom: 1em;
    text-align: justify;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

code {
    white-space: break-spaces;
}



footer {
    background-color: #333;
    color: white;
    padding: 1em;
}


body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;
    min-height: 100svh;
    @media only screen and (max-width: 960px) {
        grid-template-columns: repeat(12, 1fr);
    }
}

header, footer {
    grid-column: 1 / -1;
}

.main {
    grid-column: 2 / -2;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f8f9fa;
    box-shadow: 0px 1px 1px #ddd;
    font-family: Courier, Lucida Typewriter, monospace;
}


#nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    margin-right: 1.5rem;
}

#nav ul li a {
    color: #333;
    transition: color 0.3s ease;
}

#nav ul li a:hover {
    color: #007bff;
}