---
import HeaderLink from './HeaderLink.astro';
---

<header class="header">
	<nav id="nav">
		<ul>
			<li>
				<HeaderLink href="/">Home</HeaderLink>
			<li><HeaderLink href="/articles">Articles</HeaderLink></li>
			<li><HeaderLink href="/projects">Projects</HeaderLink></li>
		</ul>
	</nav>
</header>