---
layout: project.webc
pagination:
    data: projectsData
    size: 1
    alias: project
permalink: "/projects/{{project.slug }}/index.html"
eleventyComputed:
    title: "{{ project.title }}"
    description: "{{ project.description }}"
---